//   Created by harveydf on 20/12/14.

doctype html
html(ng-app='chatApp')
   head
      title Chat
      link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet", href="css/style.css")
      script(src="/bower_components/socket.io-client/socket.io.js")
      script(src="/bower_components/angular/angular.min.js")
      script(src="js/app.js")
   body(ng-controller="chatController as chatCtrl")
      div.jumbotron
         div.container
            div.row
               h1 Chat!
               p A simple chat with Node.js, Socket.io, Express.js and Angular.js
               form(name="messageForm", ng-submit="messageForm.$valid && sendMessage()", role="form", novalidate)
                  div.form-group
                     input.form-control(placeholder="nickname", name="userName", ng-model="userName", required)
                  div.form-group
                     div.input-group
                        input.form-control(placeholder="Write your text here...", name="messageText", ng-model="messageText", required)
                        span.input-group-btn
                           button.btn.btn-info Submit

      div.container.chat
         div.row
            dl.dl-horizontal
               dt(ng-repeat-start="message in messages") {{message.userName}}:
               dd(ng-repeat-end) {{message.messageText}}
